body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  background: #7f83ab;
  padding: 2%;
  min-height: 100vh;
}

.nav__wrapper {
  background-image: url(./App/assets/img/nav_bg.jpg);
  height: 150px;
  padding: 15px;
  border-radius: .25rem .25rem 0 0;
}

.card {
  border: 1px solid rgba(0,0,0,0);
  min-height: 93vh;
}

/* Loader */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3c1543;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Custom Modal */
.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  animation: show 500ms ease-in-out;
  overflow-x: hidden;
  overflow-y: auto
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div.card-header {
  background-color: #4B294E;
  box-shadow: 0px 4px 9px -2px rgba(0,0,0,1);
}

.card-header > p {
  color: #fff;
}

div.card {
  border: 1px solid #4B294E;
}

/* Floating alerts */
.alert-floating {
  display: block;
  position: fixed;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  top: 15%;
  right: 45%;
  /* transform: translate(-15%, -50%); */
  opacity: 1;
  animation: slideDown 300ms ease-in-out;
  z-index: 10;
}

@keyframes slideDown {
  0% {
    display: none;
    opacity: 0;
    top: 0;
  }

  1% {
    display: block;
    opacity: 0;
    top: 0;
  }

  100% {
    top: 15%;
    opacity: 1;
  }
}

/* Calendar */
.rbc-toolbar .rbc-toolbar-label {
  text-align: right !important;
  font-weight: bold;
  font-size: 1.4em;
}

.rbc-today {
  background-color: #7f83ab85 !important;
}

.rbc-header {
  padding: 3px;
  font-size: 1.1em;
}

.rbc-event-content {
  /* text-align: center; */
}